body{
	background-color:#ce2363;
	color:white;
}
#aha{
	color:#ce2363;
	margin-left:10px;
	font-family:arial;
	font-size:25px;
}

header{
	background-color:white;
	margin-left:-10px;
	margin-right:-8px;
	display:flex;
	margin-top:-10px;
}

a{
	color:#ce2363;
	font-size:15px;
	font-weight:lighter;
	font-family:sans-serif;
	display: inline-block;
	text-align:center;
	background-color:white;
	cursor:pointer;
	padding:25px;
	padding-right:50px;
	padding-left:50px;
	text-decoration:none;
	margin-bottom:-290px;
	
}

footer{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:80px;
	
}

.comen{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background: url("welivewelovewelie.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-size:100%;
	padding-bottom:250px;
}
textarea{
	opacity:0.7;
}
article{
	margin-left:27px;
}
@media (min-width:350px) and (max-width:920px){
	footer{
		margin-top:0px;
}
	.comen{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		background: url("welivewelovewelie.jpg");
		background-size:cover;
		background-repeat:no-repeat;
		background-size:100%;
		padding-top:300px;
	
}
}
